In [1]:
from cardano_explorer import blockfrost_api

In [2]:
%env BLOCKFROST_API_KEY=iSXrfNxhpPChKCnts2KX9MJ1eQ7exYgb

env: BLOCKFROST_API_KEY=iSXrfNxhpPChKCnts2KX9MJ1eQ7exYgb

In [3]:
cardano_mainnet = blockfrost_api.Auth()

In [5]:
cardano_mainnet.specific_epoch(200)

{'epoch': 200,
 'start_time': 1592603091,
 'end_time': 1593035091,
 'first_block_time': 1592603091,
 'last_block_time': 1593035071,
 'block_count': 21600,
 'tx_count': 18045,
 'output': '29643885158522833',
 'fees': '6282045146',
 'active_stake': None}

In [7]:
cardano_mainnet.stake_reward_history('stake1uyttshgm6jtejckv48tll58hfw3fg2ffrcc4d5qvcc4yc7q9jsalf', nb_of_results=100, pandas=True)

[INFO] Function stake_reward_history, 1 API calls.

    epoch   amount                                            pool_id
0     273   587159  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
1     274   715853  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
2     275   902199  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
3     276   824733  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
4     277  1056705  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
5     278  1192163  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
6     279  1397178  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
7     280  1695805  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
8     281  1456345  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
9     282  1587885  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
10    283  1800693  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
11    284  1677728  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
12    285  2219942  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
13    286  1832168  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...

In [9]:
assert(None == None), 'teste'

In [12]:
teste = 100%100
if 100%100 != 0:
    print('3')

In [10]:
print(100%100)

0