In [47]:
stake_address = 'stake1uyttshgm6jtejckv48tll58hfw3fg2ffrcc4d5qvcc4yc7q9jsalf'
address = 'addr1q8z24xgrlj3m2qjh2vxyqg2fh33y3tegufkll5c4lu8u35gkhpw3h4yhn93ve2whllg0wjazjs5jj8332mgqe332f3uq8m7m6h'
pool_id = "pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288ys5kumqce5"

In [11]:
%env BLOCKFROST_API_KEY=iSXrfNxhpPChKCnts2KX9MJ1eQ7exYgb

env: BLOCKFROST_API_KEY=iSXrfNxhpPChKCnts2KX9MJ1eQ7exYgb

## Install
___

pip3 install cardano_explorer

## Usage
___

In [ ]:
from cardano_explorer import blockfrost_api

## Api Key
___
If you have an API key, you can either set it as environment variable **BLOCKFROST_API_KEY** or set it manually with:

In [10]:
cardano_mainnet = blockfrost_api.Auth()
#or
cardano_mainnet = blockfrost_api.Auth(api_key=api_key)

## Proxies
___

## Network (mainnet, tesnet, local)
You can specify the cardano network to explore with the class parameter **network** (mainnet by default).

In [15]:
cardano_mainnet = blockfrost_api.Auth()
#or
cardano_mainnet = blockfrost_api.Auth(network='mainnet')

## Network
___

### Network information
Return detailed network information.

In [42]:
cardano_mainnet.network_info()

{'supply': {'max': '45000000000000000',
  'total': '33095610707522483',
  'circulating': '32815060450967318'},
 'stake': {'live': '23309647932671648', 'active': '23136223153988390'}}

## Stake
___

### Stake informations
Obtain information about a specific stake account.

In [17]:
cardano_mainnet.stake_informations(stake_address)

{'stake_address': 'stake1uyttshgm6jtejckv48tll58hfw3fg2ffrcc4d5qvcc4yc7q9jsalf',
 'active': True,
 'active_epoch': 271,
 'controlled_amount': '2868511950',
 'rewards_sum': '18946556',
 'withdrawals_sum': '0',
 'reserves_sum': '97317',
 'treasury_sum': '0',
 'withdrawable_amount': '19043873',
 'pool_id': 'pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288ys5kumqce5'}

### Stake reward history 
Obtain information about the reward history of a specific account.

In [27]:
cardano_mainnet.stake_reward_history(stake_address) 
#or      
cardano_mainnet.stake_reward_history(stake_address, 
                                     data_order='asc', # Optional: Data order (default: Ascending)
                                     nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                     pandas=True).head() # Optional: Return a pandas dataframe

[INFO] Function stake_reward_history, 1 API calls.

   epoch   amount                                            pool_id
0    273   587159  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
1    274   715853  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
2    275   902199  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
3    276   824733  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
4    277  1056705  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...

### Stake amount history 
Obtain information about the history of a specific account.

In [28]:
cardano_mainnet.stake_amount_history(stake_address)
#or                        
cardano_mainnet.stake_amount_history(stake_address, 
                                     data_order='asc', # Optional: Data order (default: Ascending)
                                     nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                     pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_amount_history, 1 API calls.

   active_epoch      amount                                            pool_id
0           273   998824863  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
1           274   998824863  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
2           275  1618824863  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
3           276  1619412022  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...
4           277  1620127875  pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...

### Stake delegation history
Obtain information about the delegation of a specific account.

In [29]:
cardano_mainnet.stake_delegation(stake_address)
#or
cardano_mainnet.stake_delegation(stake_address, 
                                 data_order='asc', # Optional: Data order (default: Ascending)
                                 nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                 pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_delegation, 1 API calls.

,active_epoch,tx_hash,amount,pool_id
0,273,97a774aa60a2926c9949bfe1edf1dcc2f2297d36633e14...,497824863,pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...

### Stake registrations and deregistrations history
Obtain information about the registrations and deregistrations of a specific account.

In [30]:
cardano_mainnet.stake_registration_deregistrations(stake_address)
#or
cardano_mainnet.stake_registration_deregistrations(stake_address, 
                                                   data_order='asc', # Optional: Data order (default: Ascending)
                                                   nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                                   pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_registration_deregistrations, 1 API calls.

                                             tx_hash      action
0  97a774aa60a2926c9949bfe1edf1dcc2f2297d36633e14...  registered

### Stake withdrawal history
Obtain information about the withdrawals of a specific account.

In [ ]:
cardano_mainnet.stake_withdrawal_history(stake_address)
#or
cardano_mainnet.stake_withdrawal_history(stake_address, 
                                         data_order='asc', # Optional: Data order (default: Ascending)
                                         nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                         pandas=True) # Optional: Return a pandas dataframe

### Stake MIR history
Obtain information about the MIRs of a specific account.

In [31]:
cardano_mainnet.stake_mir_history(stake_address)
#or
cardano_mainnet.stake_mir_history(stake_address, 
                                  data_order='asc', # Optional: Data order (default: Ascending)
                                  nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                  pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_mir_history, 1 API calls.

                                             tx_hash amount
0  c041e475d161444a6a8ca9005ef3deb36ebd579c347d90...  74456
1  9ede69b0ebd0903b1cc6a914a79fabd9a5d6dd94e8c110...  22861

### Stake associated addresses
Obtain information about the MIRs of a specific account.

In [33]:
cardano_mainnet.stake_associated_addresses(stake_address)
#or
cardano_mainnet.stake_associated_addresses(stake_address, 
                                           data_order='asc', # Optional: Data order (default: Ascending)
                                           nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                           pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_associated_addresses, 1 API calls.

                                             address
0  addr1qx96yn08e5u7hthawh63ss6269dkzxekq85elrthw...
1  addr1q9u0kfvd57parl03j8v9fz52xqz8yjkcu47lcy8hw...
2  addr1q8m6tn3edl333c8yzms8dzrkkckm0vn0dkvq436au...
3  addr1q9py3k58fmyu896charn6mey8c5f22uq830m4udsy...
4  addr1q8mk7kft30hwmj2yttltm8j5f4ccuguxr9z3werwm...

### Stake assets associated addresses
Obtain information about assets associated with addresses of a specific account.</blockquote>

In [34]:
cardano_mainnet.stake_associated_addresses(stake_address)
#or
cardano_mainnet.stake_assets_associated_addresses(stake_address, 
                                                  data_order='asc', # Optional: Data order (default: Ascending)
                                                  nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                                  pandas=True) # Optional: Return a pandas dataframe

[INFO] No data available.
[INFO] Function stake_assets_associated_addresses, 1 API calls.

Empty DataFrame
Columns: []
Index: []

# Addresse Informations
___

### Addresses
Obtain information about a specific address.

In [36]:
cardano_mainnet.address_info(address)

{'address': 'addr1q8z24xgrlj3m2qjh2vxyqg2fh33y3tegufkll5c4lu8u35gkhpw3h4yhn93ve2whllg0wjazjs5jj8332mgqe332f3uq8m7m6h',
 'amount': [{'unit': 'lovelace', 'quantity': '350000000'}],
 'stake_address': 'stake1uyttshgm6jtejckv48tll58hfw3fg2ffrcc4d5qvcc4yc7q9jsalf',
 'type': 'shelley'}

### Address details
Obtain details about an address.

In [37]:
cardano_mainnet.address_details(address)

{'address': 'addr1q8z24xgrlj3m2qjh2vxyqg2fh33y3tegufkll5c4lu8u35gkhpw3h4yhn93ve2whllg0wjazjs5jj8332mgqe332f3uq8m7m6h',
 'received_sum': [{'unit': 'lovelace', 'quantity': '350000000'}],
 'sent_sum': [{'unit': 'lovelace', 'quantity': '0'}],
 'tx_count': 1}

### Address UTXOs
UTXOs of the address.

In [38]:
cardano_mainnet.address_utxo(address)

[{'tx_hash': '996ff0a57282ef943ecdbc263cf9c41c178d65587d70d9d9dcbe98e520f8e406',
  'tx_index': 4,
  'output_index': 4,
  'amount': [{'unit': 'lovelace', 'quantity': '350000000'}],
  'block': '73768f4ca2a0c96611a1fbd7f53a3b1b573fb0371012e54a943cf58926eb9cea'}]

### Address transactions
Transactions on the address.

In [39]:
cardano_mainnet.address_transaction(address)

[{'tx_hash': '996ff0a57282ef943ecdbc263cf9c41c178d65587d70d9d9dcbe98e520f8e406',
  'tx_index': 45,
  'block_height': 6095572}]

## Epochs
___

### Latest epoch
Obtain the information about the latest epoch.

In [50]:
cardano_mainnet.latest_epoch()

{'epoch': 288,
 'start_time': 1630619091,
 'end_time': 1631051091,
 'first_block_time': 1630619101,
 'last_block_time': 1630695809,
 'block_count': 3867,
 'tx_count': 77200,
 'output': '41529702474109934',
 'fees': '16021622015',
 'active_stake': '23136223153988390'}

### Latest epoch protocol parameters
Return the protocol parameters for the latest epoch.

In [51]:
cardano_mainnet.latest_epoch_protocol_parameters()

{'epoch': 288,
 'min_fee_a': 44,
 'min_fee_b': 155381,
 'max_block_size': 65536,
 'max_tx_size': 16384,
 'max_block_header_size': 1100,
 'key_deposit': '2000000',
 'pool_deposit': '500000000',
 'e_max': 18,
 'n_opt': 500,
 'a0': 0.3,
 'rho': 0.003,
 'tau': 0.2,
 'decentralisation_param': 0,
 'extra_entropy': None,
 'protocol_major_ver': 4,
 'protocol_minor_ver': 0,
 'min_utxo': '1000000',
 'min_pool_cost': '340000000',
 'nonce': 'bf3b52ab86e152b392cbf095c1d0f07aaeda956eecfdb44b09bcb85a0ecae36a'}

### Specific epoch
Obtain informations about a specific epoch.

In [52]:
cardano_mainnet.specific_epoch(287)

{'epoch': 287,
 'start_time': 1630187091,
 'end_time': 1630619091,
 'first_block_time': 1630187230,
 'last_block_time': 1630619085,
 'block_count': 21065,
 'tx_count': 401343,
 'output': '74754307451589173',
 'fees': '86536781869',
 'active_stake': '23041097075076811'}

### Epochs history
Obtain informations about sevrals epochs.

In [53]:
cardano_mainnet.epochs_history([270, 271, 272],
                               pandas=True) # Optional: Return a pandas dataframe

[INFO] Function epochs_history, 4 API calls.

,epoch,start_time,end_time,first_block_time,last_block_time,block_count,tx_count,output,fees,active_stake
0,270,1622843091,1623275091,1622843183,1623275038,21395,174334,12213404538685056,36489177917,22893778548073522
1,271,1623275091,1623707091,1623275098,1623707059,21410,145244,12686700012872148,30802442909,22970909569111347
2,272,1623707091,1624139091,1623707123,1624139087,21499,135373,10640794327820158,29593210504,23020000415780615

# Pools
___

### List of stake pools
List of registered stake pools.

In [54]:
cardano_mainnet.registered_polls()
#or
cardano_mainnet.registered_polls(nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                 pandas=True) # Optional: Return a pandas dataframe

[INFO] Function registered_polls, 1 API calls.

                                 registered_polls_id
0  pool1z5uqdk7dzdxaae5633fqfcu2eqzy3a3rgtuvy087f...
1  pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0na...
2  pool1c8k78ny3xvsfgenhf4yzvpzwgzxmz0t0um0h2xnn2...
3  pool1q80jjs53w0fx836n8g38gtdwr8ck5zre3da90peux...
4  pool1ddskftmsscw92d7vnj89pldwx5feegkgcmamgt5t0...

### Specific stake pool informations
Pool informations.

In [55]:
cardano_mainnet.pool_informations(pool_id)

{'pool_id': 'pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288ys5kumqce5',
 'hex': 'cdae4a1a08974113e77ea332cb1da97d9e3fca5cf797f9394739214b',
 'vrf_key': '5517fbeb4c6a5a613835808de183345eaf85ab0e251210e493e088afa41d9ab0',
 'blocks_minted': 3073,
 'live_stake': '55648149168432',
 'live_size': 0.0023887520907477904,
 'live_saturation': 0.8479059445396915,
 'live_delegators': 1443,
 'active_stake': '55449417952886',
 'active_size': 0.002396649512923082,
 'declared_pledge': '200000000000',
 'live_pledge': '203180990314',
 'margin_cost': 0.01,
 'fixed_cost': '340000000',
 'reward_account': 'stake1u8uzevd539lxn40jt60g72a649zdphe9e8hrye4nf5jv0js9uzhzg',
 'owners': ['stake1u9qsgte62jau0qu6kjy8zch8aynt55gql6jsxe05464n99gsqd7ra',
  'stake1u8uzevd539lxn40jt60g72a649zdphe9e8hrye4nf5jv0js9uzhzg'],
 'registration': ['b1bfffc26b6210ced9cc679781922e8b1ac70a2f7719523528639da4ab7f2d88',
  'be5b798897f5b83e5bf562df6fc68a94d5528acc80ab8e999ce866aa63a4d06a',
  '0f4781efd649f91e37847cb2699a8a41632ee94df1465e255577772f362339bf',
  '630c7195fdc1c5c14bb12c460059c5adb11b3cd6d3e576628aee0a8338f1b6ad',
  '119fe23a35e0ddcbb5778f17ad2371228a53b5ced037c12083a0c77b5711e1d4',
  'f1fe58c30ec7f5193476694fafc46dcdb11c3408e114e8fa2a95425243907ed4',
  '09c2c3d34de116365c9cf9a6e75f45856013388d962dbd5584c27b7d0bb36eed'],
 'retirement': []}

### Stake pool history

History of stake pool parameters over epochs.

In [56]:
cardano_mainnet.stake_pool_history(pool_id)
#or
cardano_mainnet.stake_pool_history(pool_id,
                                   pandas=True) # Optional: Return a pandas dataframe

[INFO] Function param_stake_pool_history, 1 API calls.

,epoch,blocks,active_stake,active_size,delegators_count,rewards,fees
0,210,0,37220609681471,0.006144,66,0,0
1,211,10,54335156396766,0.005339,81,41930800644,795508006
2,212,19,57680429746242,0.004764,100,44444415813,820644158
3,213,17,39988128646167,0.003134,113,35108072495,687680724
4,214,16,37882297876063,0.002831,114,31712032983,653720329

## Analysis
___

### Rewards history analysis

In [57]:
cardano_mainnet.rewards_history_analysis(stake_address)
#or
cardano_mainnet.rewards_history_analysis(stake_address,
                                         pandas=True). # Optional: Return a pandas dataframe

[INFO] Function stake_reward_history, 1 API calls.
[INFO] Function stake_amount_history, 1 API calls.
[INFO] Function param_stake_pool_history, 1 API calls.
[INFO] Function epochs_history, 15 API calls.

,epoch,rewards_amount,stake_amount,pool_id,epoch_start_time,epoch_end_time,epoch_first_block_time,epoch_last_block_time,epoch_block_count,epoch_tx_count,epoch_output,epoch_fees,epoch_active_stake,stake_pool_blocks,stake_pool_active_stake,stake_pool_active_size,stake_pool_delegators_count,stake_pool_rewards,stake_pool_fees
0,273,587159,998824863,pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...,1624139091,1624571091,1624139124,1624571089,21464,150752,15740586909359854,32570360903,23075664958746578,39,47829822938326,0.002073,1120,28740378749,624003787
1,274,715853,998824863,pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...,1624571091,1625003091,1624571155,1625003071,21521,133041,11764235372205745,28650900551,23094302016775953,50,50332107694676,0.002179,1174,36776812909,704368129
2,275,902199,1618824863,pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...,1625003091,1625435091,1625003255,1625435086,21505,136339,13402253806474700,29088470734,23006172979540278,37,47430899220515,0.002062,1190,27005861046,606658610
3,276,824733,1619412022,pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...,1625435091,1625867091,1625435146,1625867083,21298,144737,12581437590766031,30139500685,23092420021153886,33,46277458382635,0.002004,1204,24108337832,577683378
4,277,1056705,1620127875,pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288...,1625867091,1626299091,1625867167,1626299088,21323,135191,9892737538002395,28508156761,23196615273348567,41,45104996094565,0.001944,1221,30007226603,636672266