In [1]:
import os

In [2]:
%env BLOCKFROST_API_KEY=iSXrfNxhpPChKCnts2KX9MJ1eQ7exYgb

env: BLOCKFROST_API_KEY=iSXrfNxhpPChKCnts2KX9MJ1eQ7exYgb

In [3]:
stake_address = 'stake1uyzxex6t9ct3mssa5em4sfu028gj46mjcakrel8rjtn9n8gf90st6'
address = 'addr1q8z24xgrlj3m2qjh2vxyqg2fh33y3tegufkll5c4lu8u35gkhpw3h4yhn93ve2whllg0wjazjs5jj8332mgqe332f3uq8m7m6h'
pool_id = "pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288ys5kumqce5"
api_key = os.getenv('BLOCKFROST_API_KEY')

<br />

**Table of contents**
- [Install](#Install)
- [Usage](#Usage)
- [Api Key](#Api-Key)
- [Using With Proxy](#Using-With-Proxy)
- [Network](#Network)
  * [Stake Informations](#Stak-Informations)
- [Stake](#Stake)
  * [Stake Informations](#Stake-Informations)
  * [Stake Reward History](#Stake-Reward-History)
  * [Stake Amount History](#Stake-Amount-History)
  * [Stake Delegation History](#Stake-Delegation-History)
  * [Stake Registrations And Deregistrations History](#Stake-Registrations-And-Deregistrations-History)
  * [Stake Withdrawal History](#Stake-Withdrawal-History)
  * [Stake MIR History](#Stake-MIR-History)
  * [Stake Associated Addresses](#Stake-Associated-Addresses)
  * [Stake Assets Associated Addresses](#Stake-Assets-Associated-Addresses)
- [Address](#Address)
  * [Specific Address](#Specific-Address)
  * [Address Details](#Address-Details)
  * [Address UTXOs](#Address-UTXOs)
  * [Address Transactions](#Address-Transactions)
- [Epoch](#Epoch)
  * [Latest Epoch](#Latest-Epoch)
  * [Latest Epoch Protocol Parameters](#Latest-Epoch-Protocol-Parameters)
  * [Specific Epoch](#Specific-Epoch)
  * [Epochs History](#Epochs-History)
- [Pool](#Pool)
  * [List Of Stake Pools](#List-Of-Stake-Pools)
  * [Specific Stake Pool Informations](#Specific-Stake-Pool-Informations)
  * [Epochs History](#Epochs-History)
  * [Stake Pool History](#Stake-Pool-History)
- [Data Analysis](#Data-Analysis)
  * [Rewards History Analysis](#Rewards-History-Analysis)

<br />

## Install
___

pip3 install cardano_explorer

## Usage
___

In [4]:
from cardano_explorer import blockfrost_api

## Api Key
___
If you have an API key, you can either set it as environment variable **BLOCKFROST_API_KEY** or set it manually.

In [5]:
cardano_mainnet = blockfrost_api.Auth()
#or
cardano_mainnet = blockfrost_api.Auth(api_key=api_key)

## Using with proxy
___

In [ ]:
proxies = {
 "http": "http://@:port",
 "https": "https://@:port",
}

cardano_mainnet = blockfrost_api.Auth(proxies=proxies)

## Network
You can specify the cardano network with the class parameter **network**.

In [6]:
cardano_mainnet = blockfrost_api.Auth() # mainnet bu default
#or
cardano_mainnet = blockfrost_api.Auth(network='mainnet')
#or
cardano_mainnet = blockfrost_api.Auth(network='testnet')

## Network
___

### Network Informations
Return detailed about the network.

In [13]:
cardano_mainnet.network_info()

{'supply': {'max': '45000000000000000',
  'total': '33117618880452547',
  'circulating': '32830008455508086'},
 'stake': {'live': '23250056607793135', 'active': '23311196777534712'}}

## Stake
___

### Stake Informations
Obtain information about a specific stake account.

In [14]:
cardano_mainnet.stake_informations(stake_address)

{'stake_address': 'stake1uyttshgm6jtejckv48tll58hfw3fg2ffrcc4d5qvcc4yc7q9jsalf',
 'active': True,
 'active_epoch': 271,
 'controlled_amount': '3002782240',
 'rewards_sum': '21216846',
 'withdrawals_sum': '0',
 'reserves_sum': '97317',
 'treasury_sum': '0',
 'withdrawable_amount': '21314163',
 'pool_id': 'pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288ys5kumqce5'}

### Stake Reward History 
Obtain information about the reward history of a specific account.

In [26]:
cardano_mainnet.stake_reward_history(stake_address) 
#or      
cardano_mainnet.stake_reward_history(stake_address, 
                                     data_order='asc', # Optional: Data order (default: Ascending)
                                     nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                     pandas=True). # Optional: Return a pandas dataframe

[INFO] Function stake_reward_history, 1 API calls.
[INFO] Function stake_reward_history, 1 API calls.

   epoch   amount                                            pool_id
0    242   879367  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...
1    243   970119  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...
2    244  1164610  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...
3    245  1228869  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...
4    246   857871  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...

### Stake Amount History 
Obtain information about the history of a specific account.

In [27]:
cardano_mainnet.stake_amount_history(stake_address)
#or                        
cardano_mainnet.stake_amount_history(stake_address, 
                                     data_order='asc', # Optional: Data order (default: Ascending)
                                     nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                     pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_amount_history, 1 API calls.
[INFO] Function stake_amount_history, 1 API calls.

   active_epoch      amount                                            pool_id
0           242  1424619058  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...
1           243  1424619058  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...
2           244  1424619058  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...
3           245  1425498425  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...
4           246  1426468544  pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...

### Stake Delegation History
Obtain information about the delegation of a specific account.

In [28]:
cardano_mainnet.stake_delegation(stake_address)
#or
cardano_mainnet.stake_delegation(stake_address, 
                                 data_order='asc', # Optional: Data order (default: Ascending)
                                 nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                 pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_delegation, 1 API calls.
[INFO] Function stake_delegation, 1 API calls.

,active_epoch,tx_hash,amount,pool_id
0,242,b602262e1264dabd6c10747415558934d196834d7c7dea...,747625479,pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...
1,248,5822a3b2ebc0a45426aff524e5a0fd2bf7906f671e875a...,747452454,pool1m62sl6rauje9cknrkhwl39tc4hujudkd7gp478dpz...
2,259,2c0c3c2123b74b926d2b6969ea21f49ae92861acecf2b8...,21263559,pool1lurfk0k0wwx54hlg8a7zp3jtstu57u59aeq7aketl...

### Stake Registrations And Deregistrations History
Obtain information about the registrations and deregistrations of a specific account.

In [29]:
cardano_mainnet.stake_registration_deregistrations(stake_address)
#or
cardano_mainnet.stake_registration_deregistrations(stake_address, 
                                                   data_order='asc', # Optional: Data order (default: Ascending)
                                                   nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                                   pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_registration_deregistrations, 1 API calls.
[INFO] Function stake_registration_deregistrations, 1 API calls.

                                             tx_hash      action
0  b602262e1264dabd6c10747415558934d196834d7c7dea...  registered

### Stake Withdrawal History
Obtain information about the withdrawals of a specific account.

In [22]:
cardano_mainnet.stake_withdrawal_history(stake_adress)
#or
cardano_mainnet.stake_withdrawal_history(stake_address, 
                                         data_order='asc', # Optional: Data order (default: Ascending)
                                         nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                         pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_withdrawal_history, 1 API calls.
[INFO] Function stake_withdrawal_history, 1 API calls.

                                             tx_hash    amount
0  80b09b61d2da86f5847d0b9a5f72d32224fcd7e1aa1716...  21239707

### Stake MIR History
Obtain information about the MIRs of a specific account.

In [7]:
cardano_mainnet.stake_mir_history(stake_address)
#or
cardano_mainnet.stake_mir_history(stake_address, 
                                  data_order='asc', # Optional: Data order (default: Ascending)
                                  nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                  pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_mir_history, 1 API calls.
[INFO] Function stake_mir_history, 1 API calls.

                                             tx_hash amount
0  443b98009b9a705c7112b031d223f26a3399f8cf1e7f12...  16922
1  f707cb4decf7f21991f506bba051a0184ca8ecbd402f79...   5196

### Stake Associated Addresses
Obtain information about the MIRs of a specific account.

In [9]:
cardano_mainnet.stake_associated_addresses(stake_address)
#or
cardano_mainnet.stake_associated_addresses(stake_address, 
                                           data_order='asc', # Optional: Data order (default: Ascending)
                                           nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                           pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_associated_addresses, 1 API calls.
[INFO] Function stake_associated_addresses, 1 API calls.

                                             address
0  addr1q9asyce9kg8x8srwjuehtj0sxzc206rn5nv8tzc66...
1  addr1qyyzytknnnr3yy3hrxt7puzxy2zle6cfs3c839rdw...
2  addr1q8qe2873c334m7s3j2g27fq4sjqkh03mr28z3nd3l...
3  addr1q9226w0sg40mjhnzdt3myvnucrljqg7pyxgn9vypc...
4  addr1q8amjln6cua3scnthlm8jd7vnz4w4j7hmpkj7l8vt...

### Stake Assets Associated Addresses
Obtain information about assets associated with addresses of a specific account.</blockquote>

In [11]:
cardano_mainnet.stake_associated_addresses(stake_address)
#or
cardano_mainnet.stake_assets_associated_addresses(stake_address, 
                                                  data_order='asc', # Optional: Data order (default: Ascending)
                                                  nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                                  pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_associated_addresses, 1 API calls.
[INFO] No data available.
[INFO] Function stake_assets_associated_addresses, 1 API calls.

Empty DataFrame
Columns: []
Index: []

# Address
___

### Specific Address
Obtain information about a specific address.

In [36]:
cardano_mainnet.address_info(address)

{'address': 'addr1q8z24xgrlj3m2qjh2vxyqg2fh33y3tegufkll5c4lu8u35gkhpw3h4yhn93ve2whllg0wjazjs5jj8332mgqe332f3uq8m7m6h',
 'amount': [{'unit': 'lovelace', 'quantity': '350000000'}],
 'stake_address': 'stake1uyttshgm6jtejckv48tll58hfw3fg2ffrcc4d5qvcc4yc7q9jsalf',
 'type': 'shelley'}

### Address Details
Obtain details about an address.

In [37]:
cardano_mainnet.address_details(address)

{'address': 'addr1q8z24xgrlj3m2qjh2vxyqg2fh33y3tegufkll5c4lu8u35gkhpw3h4yhn93ve2whllg0wjazjs5jj8332mgqe332f3uq8m7m6h',
 'received_sum': [{'unit': 'lovelace', 'quantity': '350000000'}],
 'sent_sum': [{'unit': 'lovelace', 'quantity': '0'}],
 'tx_count': 1}

### Address UTXOs
UTXOs of the address.

In [38]:
cardano_mainnet.address_utxo(address)

[{'tx_hash': '996ff0a57282ef943ecdbc263cf9c41c178d65587d70d9d9dcbe98e520f8e406',
  'tx_index': 4,
  'output_index': 4,
  'amount': [{'unit': 'lovelace', 'quantity': '350000000'}],
  'block': '73768f4ca2a0c96611a1fbd7f53a3b1b573fb0371012e54a943cf58926eb9cea'}]

### Address Transactions
Transactions on the address.

In [39]:
cardano_mainnet.address_transaction(address)

[{'tx_hash': '996ff0a57282ef943ecdbc263cf9c41c178d65587d70d9d9dcbe98e520f8e406',
  'tx_index': 45,
  'block_height': 6095572}]

## Epoch
___

### Latest Epoch
Obtain the information about the latest epoch.

In [50]:
cardano_mainnet.latest_epoch()

{'epoch': 288,
 'start_time': 1630619091,
 'end_time': 1631051091,
 'first_block_time': 1630619101,
 'last_block_time': 1630695809,
 'block_count': 3867,
 'tx_count': 77200,
 'output': '41529702474109934',
 'fees': '16021622015',
 'active_stake': '23136223153988390'}

### Latest Epoch Protocol Parameters
Return the protocol parameters for the latest epoch.

In [51]:
cardano_mainnet.latest_epoch_protocol_parameters()

{'epoch': 288,
 'min_fee_a': 44,
 'min_fee_b': 155381,
 'max_block_size': 65536,
 'max_tx_size': 16384,
 'max_block_header_size': 1100,
 'key_deposit': '2000000',
 'pool_deposit': '500000000',
 'e_max': 18,
 'n_opt': 500,
 'a0': 0.3,
 'rho': 0.003,
 'tau': 0.2,
 'decentralisation_param': 0,
 'extra_entropy': None,
 'protocol_major_ver': 4,
 'protocol_minor_ver': 0,
 'min_utxo': '1000000',
 'min_pool_cost': '340000000',
 'nonce': 'bf3b52ab86e152b392cbf095c1d0f07aaeda956eecfdb44b09bcb85a0ecae36a'}

### Specific Epoch
Obtain informations about a specific epoch.

In [52]:
cardano_mainnet.specific_epoch(287)

{'epoch': 287,
 'start_time': 1630187091,
 'end_time': 1630619091,
 'first_block_time': 1630187230,
 'last_block_time': 1630619085,
 'block_count': 21065,
 'tx_count': 401343,
 'output': '74754307451589173',
 'fees': '86536781869',
 'active_stake': '23041097075076811'}

### Epochs History
Obtain informations about sevrals epochs.

In [53]:
cardano_mainnet.epochs_history([270, 271, 272],
                               pandas=True) # Optional: Return a pandas dataframe

[INFO] Function epochs_history, 4 API calls.

,epoch,start_time,end_time,first_block_time,last_block_time,block_count,tx_count,output,fees,active_stake
0,270,1622843091,1623275091,1622843183,1623275038,21395,174334,12213404538685056,36489177917,22893778548073522
1,271,1623275091,1623707091,1623275098,1623707059,21410,145244,12686700012872148,30802442909,22970909569111347
2,272,1623707091,1624139091,1623707123,1624139087,21499,135373,10640794327820158,29593210504,23020000415780615

# Pool
___

### List Of Stake Pools
List of registered stake pools.

In [54]:
cardano_mainnet.registered_polls()
#or
cardano_mainnet.registered_polls(nb_of_results=100, # Optional: Return max 100 results at the time (default: None), None for get all the data available.
                                 pandas=True) # Optional: Return a pandas dataframe

[INFO] Function registered_polls, 1 API calls.

                                 registered_polls_id
0  pool1z5uqdk7dzdxaae5633fqfcu2eqzy3a3rgtuvy087f...
1  pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5m2str0na...
2  pool1c8k78ny3xvsfgenhf4yzvpzwgzxmz0t0um0h2xnn2...
3  pool1q80jjs53w0fx836n8g38gtdwr8ck5zre3da90peux...
4  pool1ddskftmsscw92d7vnj89pldwx5feegkgcmamgt5t0...

### Specific Stake Pool Informations
Pool informations.

In [55]:
cardano_mainnet.pool_informations(pool_id)

{'pool_id': 'pool1ekhy5xsgjaq38em75vevk8df0k0rljju77tljw288ys5kumqce5',
 'hex': 'cdae4a1a08974113e77ea332cb1da97d9e3fca5cf797f9394739214b',
 'vrf_key': '5517fbeb4c6a5a613835808de183345eaf85ab0e251210e493e088afa41d9ab0',
 'blocks_minted': 3073,
 'live_stake': '55648149168432',
 'live_size': 0.0023887520907477904,
 'live_saturation': 0.8479059445396915,
 'live_delegators': 1443,
 'active_stake': '55449417952886',
 'active_size': 0.002396649512923082,
 'declared_pledge': '200000000000',
 'live_pledge': '203180990314',
 'margin_cost': 0.01,
 'fixed_cost': '340000000',
 'reward_account': 'stake1u8uzevd539lxn40jt60g72a649zdphe9e8hrye4nf5jv0js9uzhzg',
 'owners': ['stake1u9qsgte62jau0qu6kjy8zch8aynt55gql6jsxe05464n99gsqd7ra',
  'stake1u8uzevd539lxn40jt60g72a649zdphe9e8hrye4nf5jv0js9uzhzg'],
 'registration': ['b1bfffc26b6210ced9cc679781922e8b1ac70a2f7719523528639da4ab7f2d88',
  'be5b798897f5b83e5bf562df6fc68a94d5528acc80ab8e999ce866aa63a4d06a',
  '0f4781efd649f91e37847cb2699a8a41632ee94df1465e255577772f362339bf',
  '630c7195fdc1c5c14bb12c460059c5adb11b3cd6d3e576628aee0a8338f1b6ad',
  '119fe23a35e0ddcbb5778f17ad2371228a53b5ced037c12083a0c77b5711e1d4',
  'f1fe58c30ec7f5193476694fafc46dcdb11c3408e114e8fa2a95425243907ed4',
  '09c2c3d34de116365c9cf9a6e75f45856013388d962dbd5584c27b7d0bb36eed'],
 'retirement': []}

### Stake Pool History

History of stake pool over epochs.

In [56]:
cardano_mainnet.stake_pool_history(pool_id)
#or
cardano_mainnet.stake_pool_history(pool_id,
                                   pandas=True) # Optional: Return a pandas dataframe

[INFO] Function param_stake_pool_history, 1 API calls.

,epoch,blocks,active_stake,active_size,delegators_count,rewards,fees
0,210,0,37220609681471,0.006144,66,0,0
1,211,10,54335156396766,0.005339,81,41930800644,795508006
2,212,19,57680429746242,0.004764,100,44444415813,820644158
3,213,17,39988128646167,0.003134,113,35108072495,687680724
4,214,16,37882297876063,0.002831,114,31712032983,653720329

## Data Analysis
___

### Rewards History Analysis
Data table to analyze the stake rewards.

In [14]:
cardano_mainnet.rewards_history_analysis(stake_address)
#or
cardano_mainnet.rewards_history_analysis(stake_address,
                                         pandas=True) # Optional: Return a pandas dataframe

[INFO] Function stake_reward_history, 1 API calls.
[INFO] Function stake_amount_history, 1 API calls.
[INFO] Function param_stake_pool_history, 1 API calls.
[INFO] Function epochs_history, 47 API calls.
[INFO] Function stake_reward_history, 1 API calls.
[INFO] Function stake_amount_history, 1 API calls.
[INFO] Function param_stake_pool_history, 1 API calls.
[INFO] Function epochs_history, 47 API calls.

,epoch,rewards_amount,stake_amount,pool_id,epoch_start_time,epoch_end_time,epoch_first_block_time,epoch_last_block_time,epoch_block_count,epoch_tx_count,epoch_output,epoch_fees,epoch_active_stake,stake_pool_blocks,stake_pool_active_stake,stake_pool_active_size,stake_pool_delegators_count,stake_pool_rewards,stake_pool_fees
0,242,879367,1424619058,pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...,1610747091,1611179091,1610747091,1611179076,21418,74057,63148817438049616,16905060417,21755094259019945,35,60557688009496,0.002784,720,37719841941,340000000
1,243,970119,1424619058,pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...,1611179091,1611611091,1611179091,1611611090,21586,58682,44531349200446205,13368193376,21849089085260375,40,60943951290359,0.002789,757,41840863127,340000000
2,244,1164610,1424619058,pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...,1611611091,1612043091,1611611091,1612043078,21491,59591,29427703690683743,13516792921,21956206748623667,50,62177721021153,0.002832,767,51169599395,340000000
3,245,1228869,1425498425,pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...,1612043091,1612475091,1612043091,1612475007,21485,88703,52975770722098664,20044918510,22086904770458818,55,63400598572150,0.002871,784,54946961660,340000000
4,246,857871,1426468544,pool1u7mqtde27swkarngjsn5mmw3sy20zavlafgqkmg8q...,1612475091,1612907091,1612475091,1612907067,21327,142367,143252676044465523,31528825577,22190441040634090,39,62762389516418,0.002828,790,38037964874,340000000